<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><h5>{{ site.title }}</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {%- assign html_pages = site.pages | sort: 'weight' -%}
        {%- assign filtered_pages = "" | split: "" -%}

        {%- for html_page in html_pages -%} 
          {%- assign exclude = false -%}

          {%- for exclude_path in site.nav_exclude -%}
            {%- if exclude_path == html_page.path -%}
              {%- assign exclude = true -%}
              {%- break -%}
            {%- elsif exclude_path contains '**' -%}
              {%- assign match = exclude_path | remove: '**' -%}
              {%- if html_page.path contains match -%}
                {%- assign exclude = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}

          {%- unless exclude -%}
            {%- if html_page.weight -%}
              {%- assign filtered_pages = filtered_pages | push: html_page -%}
            {%- endif -%}
          {%- endunless -%}
        {%- endfor -%}

        {% for html_page in filtered_pages %}
          {%- if html_page.external_url -%}
            <a class="nav-item nav-link" href="{{ html_page.external_url }}" target="_blank">{{ html_page.title }}</a>
          {%- else -%}
            <a class="nav-item nav-link {% if page.url == html_page.url %}active{% endif %}" href="{{ html_page.url | relative_url }}">{{ html_page.title }}</a>
          {%- endif -%}
        {% endfor %}

        <a class="nav-item nav-link" href="{{ site.github }}" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <span id="theme-toggler" class="nav-item nav-link" role="button" onclick="toggleTheme()"></span>
      </div>
    </div>
  </div>
</nav>